@model AuthAppLib.Model.User
@{
    ViewData["Title"] = "Мой пользователь";
}

<h1>Роли пользователя: @Html.DisplayFor(model => model.UserName)</h1>

<div class="card-group">

    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Наименование роли</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td>
                            @item
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p/>
</div>

<form asp-controller="AssigningRole" asp-action="Change" class="form-roles" method="get">
    <input type="hidden" asp-for="UserName" />
    <div>
        <button class="btn-action" type="submit">
            Изменить роли
        </button>
    </div>
</form>

