@model Notebook.AuthApp.UserLogin
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <form asp-action="Login" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="col-xs-12">
                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Имя пользователя"/>
                </div>
            </div>


            <div class="col-xs-12">
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Пароль" />
                </div>
            </div>

            <div class="wrap">
                <button type="submit">
                        Войти
                </button>
            </div>
        </form>
        <p>Нет аккаунта?
                <a href="/Account/Register"
                    style="text-decoration: none;">
                    Создать аккаунт
                </a>
        </p>
    </div>
</div>
